@using System.Text.RegularExpressions
@model Forum.Models.ViewModels.MainTopicWithInformationViewModel
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userManager;
   
@{ ViewData["Title"] = "Forum";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@section Header
{

    @if (User.Identity.IsAuthenticated)
    {
        <div class="header-top">
            <div class="wrapper wrapper-1280 d-flex justify-content-end">
                <a asp-controller="User" asp-action="Logout">Sign out</a>

            </div>
        </div>
    }
    else
    {
        <div class="header-top">
            <div class="wrapper wrapper-1280 d-flex justify-content-end">
                <a asp-controller="User" asp-action="Login">Sign in</a>

            </div>
        </div>
    }

}
<input type="hidden" value="@ViewBag.MainTopicId" id="hdMainTopicId" />

<div class="forum">
    <div class="parent-title">
        @{ var queryParam = Context.Request.RouteValues["mainTopicId"];
            int mainTopicID = int.Parse(queryParam == null ? "0" : queryParam.ToString());
            var parentRecord = Context.Request.RouteValues["parentId"];
            int parentID = int.Parse(parentRecord == null ? "0" : parentRecord.ToString());
        }
    </div>
    <div class="wrapper wrapper wrapper-1600">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @{ @if (User.Identity.IsAuthenticated)
                {
                        <li class="breadcrumb-item"><a href="/Admin/AdminDashboard">Home</a></li>
                }
                else
                {
                        <li class="breadcrumb-item"><a href="/Forum">Home</a></li>
                }
                    var childTopic = Model.SubTopics.Where(x => x.MainTopicId == mainTopicID).FirstOrDefault();

                    if (childTopic != null)
                    {
                    <li class="breadcrumb-item active" aria-current="page">@childTopic.Topic</li>
                    }



                }

            </ol>
        </nav>
        @*<div class="box round-corner entry-content type-alert">
                <div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.
                    </p>

                    <p>Useful Links for Guests:</p>
                    <ul>
                        <li>
                            Aliquam lobortis erat at est ornare, a rutrum quam convallis.
                        </li>
                        <li>Proin molestie lectus quis cursus maximus.</li>
                        <li>
                            Morbi lobortis metus a leo volutpat, vitae gravida turpis
                            luctus.
                        </li>
                    </ul>
                    <p>
                        If you are having problems posting in the relevant areas for
                        your software, please see this topic.
                    </p>
                </div>
            </div>*@



        @*<nav class="tab-like">
                <ul>
                    <li class="activated"><a href="">Forum</a></li>
                </ul>
            </nav>*@

        <div class="box round-corner type-forum">
            <div class="row">
                <section class="col-lg-9">
                    <div class="d-flex flex-direction-row align-items-center justify-content-between">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="forum-add">
                                <a href="#newInformation" rel="modal:open" class="btn btn-outline open-modal">+ Add New Information</a>
                            </div>}
                        <div class="forum-search d-flex flex-direction-row align-items-center justify-content-end">
                            <label>Filter</label>
                            <select class="form-control form-control-sm">
                                <option>Datewise</option>
                                <option>Latest</option>
                                <option>Oldest</option>
                                <option>Most commented</option>
                            </select>
                        </div>
                    </div>

                    <div>

                        <table class="forum-list-container stretch">
                            <tbody>
                                <tr class="forum-list-header">
                                    <th class="header-forum"><span>Directory</span></th>
                                    <th class="header-topics"><span>Topics</span></th>
                                    <th class="header-posts"><span>Posts</span></th>
                                    <th class="header-lastpost"><span>Last Post</span></th>
                                </tr>

                                @*<tr class="category-header" id="forum14">
                                        <td colspan="4">
                                            <div class="header">
                                                <a class="category" data-nodeid="14" href="">Announcements</a>
                                            </div>
                                        </td>
                                    </tr>*@
                                @*Top level Forums*@

                                @{ foreach (Forum.Models.ViewModels.MainTopicViewModel topic in Model.SubTopics.Where(x => x.ParentIdFK == mainTopicID))
                                    {


                                        <tr class="forum-item main new"
                                            id="forum28"
                                            data-channel-id="28"
                                            data-lastcontent="1633038619"
                                            data-readtime="0">
                                            <td class="cell-forum">
                                                <div class="forum-wrapper">
                                                    <div class="forum-info forum-info-has-rss">
                                                        <span class="icon b-icon b-icon__speech-double-large--blue h-left" title="Contains unread posts."></span>
                                                        <a href="~/TopicInformation/Information/@(topic.MainTopicId)" class="forum-title">@topic.Topic</a>

                                                        <div class="forum-desc">
                                                            @{
                                                                if (topic.Description != null)
                                                                {
                                                                    Regex regex = new Regex("\\<[^\\>]*\\>");
                                                                    string description = regex.Replace(topic.Description, String.Empty);
                                                                    if (description.Length > 375)
                                                                    {
                                                                        var desc = (description.Substring(0, 375) + ".....");
                                                                        @desc;
                                                                    }
                                                                    else
                                                                    {
                                                                        @description;
                                                                    }

                                                                }
                                                            }
                                                        </div>
                                                    </div>

                                                    <a href=""
                                                       title="View this forum's RSS feed."
                                                       class="
                                        h-right
                                        h-margin-right-xl
                                        h-margin-top-xs
                                        h-hide-on-small
                                    ">
                                                        <span class="b-icon b-icon__rss"></span>
                                                    </a>
                                                </div>

                                                <div class="rx-forum-stats h-hide">
                                                    Topics: 843 Posts: 2,360
                                                </div>

                                                <div class="rx-lastpost-info h-hide">
                                                    Last Post:

                                                    <a href="" class="lastpost-title">Alpha Preview Release is available for download.</a>
                                                </div>
                                            </td>
                                            <td class="topics-count">843</td>
                                            <td class="posts-count">2,360</td>
                                            <td class="lastpost">
                                                <div class="lastpost-wrapper">
                                                    <a href="" class="avatar h-left">
                                                        <img src="assets/img/logo.png"
                                                             class="img-responsive img-rounded"
                                                             alt="Wayne Luke"
                                                             title="Wayne Luke" />
                                                    </a>

                                                    <div class="lastpost-info">
                                                        <div class="lastpost-title-wrapper ellipsis">
                                                            <a href="" class="lastpost-title">
                                                                Alpha Preview Release is available for
                                                                download.
                                                            </a>
                                                        </div>

                                                        <div class="lastpost-by">
                                                            by
                                                            <a href="">Wayne Luke</a>
                                                        </div>
                                                        <div class="lastpost-date post-date">
                                                            Thu 30 Sep '21, 1:50pm
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                                                }
                                }

                            </tbody>
                        </table>

                    </div>

                    <div>


                        <table  class="forum-list-container stretch">
                            @{
                                var parentTopic = Model.SubTopics.Where(x => x.MainTopicId == parentID).FirstOrDefault();
                                
                                if (parentTopic != null)
                                {

                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item active" aria-current="page">Topic Information For:@parentTopic.Topic</li>
                                        </ol>
                                    </nav>
                                }


                            }

                            <tbody>

                                <tr class="forum-list-header">
                                    <th class="header-forum"><span>Information</span></th>
                                    <th class="header-topics"><span>Analysis</span></th>
                                    <th class="header-posts"><span>Views</span></th>
                                    <th class="header-posts"><span>Likes</span></th>
                                    <th class="header-lastpost"><span>Last Analysis</span></th>
                                </tr>

                                @*<tr class="category-header" id="forum14">
                <td colspan="4">
                    <div class="header">
                        <a class="category" data-nodeid="14" href="">Announcements</a>
                    </div>
                </td>
            </tr>*@
                                @*Top level Forums*@

                                @{


                                    foreach (Forum.Models.ViewModels.TopicInformationViewModel topicInformationData in Model.TopicInformations)
                                    {
                                        <tr class="forum-item main new"
                                            id="forum28"
                                            data-channel-id="28"
                                            data-lastcontent="1633038619"
                                            data-readtime="0">
                                            <td class="cell-forum">
                                                <div class="forum-wrapper">
                                                    <div class="forum-info forum-info-has-rss">
                                                        <span class="
                                            icon
                                            b-icon b-icon__speech-double-large--blue
                                            h-left
                                        "
                                                              title="Contains unread posts."></span>

                                                        <a href="#" class="forum-title">@topicInformationData.Title</a>

                                                        <div class="forum-desc">
                                                            @{
                                                                if (topicInformationData.Description != null)
                                                                {
                                                                    Regex regex = new Regex("\\<[^\\>]*\\>");
                                                                    string description = regex.Replace(topicInformationData.Description, String.Empty);
                                                                    if (description.Length > 375)
                                                                    {
                                                                        var desc = (description.Substring(0, 375) + ".....");
                                                                        @desc;
                                                                    }
                                                                    else
                                                                    {
                                                                        @description;
                                                                    }

                                                                }
                                                            }
                                                        </div>
                                                    </div>

                                                    <a href="" title="View this forum's RSS feed." class="h-right h-margin-right-xl h-margin-top-xs h-hide-on-small">
                                                        <span class="b-icon b-icon__rss"></span>
                                                    </a>
                                                </div>

                                                <div class="rx-forum-stats h-hide">
                                                    Topics: 843 Posts: 2,360
                                                </div>

                                                <div class="rx-lastpost-info h-hide">
                                                    Last Post:

                                                    <a href="" class="lastpost-title">Alpha Preview Release is available for download.</a>
                                                </div>
                                            </td>
                                            <td class="topics-count">843</td>
                                            <td class="posts-count">2,360</td>
                                            <td class="posts-count">1,560</td>
                                            <td class="lastpost">
                                                <div class="lastpost-wrapper">
                                                    <a href="" class="avatar h-left">
                                                        <img src="assets/img/logo.png"
                                                             class="img-responsive img-rounded"
                                                             alt="Wayne Luke"
                                                             title="Wayne Luke" />
                                                    </a>

                                                    <div class="lastpost-info">
                                                        <div class="lastpost-title-wrapper ellipsis">
                                                            <a href="" class="lastpost-title">
                                                                Alpha Preview Release is available for
                                                                download.
                                                            </a>
                                                        </div>

                                                        <div class="lastpost-by">
                                                            by
                                                            <a href="">Wayne Luke</a>
                                                        </div>
                                                        <div class="lastpost-date post-date">
                                                            Thu 30 Sep '21, 1:50pm
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    } }

                            </tbody>
                        </table>

                    </div>
                </section>

                <aside class="col-lg-3">
                    <div class="
										b-module b-module--hide-xsmall
										canvas-widget
										search-widget
									"
                         id="widget_6"
                         data-widget-id="3502"
                         data-widget-instance-id="6">
                        <div class="widget-header h-clearfix">
                            <div class="module-title h-left">
                                <h5 class="main-title js-main-title hide-on-editmode">
                                    Latest Forum Topics
                                </h5>
                            </div>
                        </div>

                        <hr class="widget-header-divider" />

                        <div class="widget-content">
                            <ul class="conversation-list list-container h-clearfix">
                                <li class="b-post-sm js-post-sm" data-nodeid="4461785">
                                    <div class="d-flex flex-row">
                                        <div class="b-post-sm__avatar avatar h-left">
                                            <a href="">
                                                <img src="assets/img/logo.png"
                                                     width="32"
                                                     height="32"
                                                     alt="amandatx"
                                                     class="img-responsive img-rounded" />
                                            </a>
                                        </div>
                                        <div class="avatar-sides">
                                            <div class="
																b-post-sm__title
																ellipsis
																js-ellipsis-has-title
															">
                                                <a href=""> Page Configuration </a>
                                            </div>

                                            <div class="b-post-sm__author">
                                                by <a href="">amandatx</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="
														b-post-sm__content b-post-sm__content--has-avatar
													">
                                        <div class="
															b-post-sm__post-content
															post-content
															ellipsis
															restore
															entry-content
														">
                                            <p>
                                                Hello<br />
                                                I was attempting to create an about us page;
                                                however, instead of creating the page, the about
                                                us page was globally attached to the top of the
                                                forums and other sections and I can not...
                                            </p>
                                        </div>

                                        <div class="list-item-footer h-clearfix">
                                            <ul class="replylike_count h-left">
                                                <li id="channel-4461785">
                                                    <div class="channel h-left">
                                                        <div class="channel_text">
                                                            Channel:
                                                            <a href="">Support Issues &amp; Questions</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="b-post-sm__date">Today, 12:00am</div>
                                    </div>
                                </li>

                                <li class="b-post-sm js-post-sm" data-nodeid="4461782">
                                    <div class="d-flex flex-row">
                                        <div class="b-post-sm__avatar avatar h-left">
                                            <a href="member/493075-oore">
                                                <img src="assets/img/logo.png"
                                                     width="32"
                                                     height="32"
                                                     alt="Oore"
                                                     class="img-responsive img-rounded" />
                                            </a>
                                        </div>

                                        <div class="avatar-sides">
                                            <div class="b-post-sm__title ellipsis">
                                                <a href="">Bulk pricing</a>
                                            </div>

                                            <div class="b-post-sm__author">
                                                by <a href="member/493075-oore">Oore</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="
														b-post-sm__content b-post-sm__content--has-avatar
													">
                                        <div class="
															b-post-sm__post-content
															post-content
															ellipsis
															restore
															entry-content
														">
                                            <p>
                                                Hello,<br />
                                                I want to buy a third license for vBulletin. When
                                                putting the license in the shopping cart, the
                                                following message is displayed: "The product
                                                vBulletin 5 Connect is eligible for...
                                            </p>
                                        </div>

                                        <div class="list-item-footer h-clearfix">
                                            <ul class="replylike_count h-left">
                                                <li id="channel-4461782">
                                                    <div class="channel h-left">
                                                        <div class="channel_text">
                                                            Channel:
                                                            <a href="">Pre-sales Questions</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="b-post-sm__date">Yesterday, 9:48pm</div>
                                    </div>
                                </li>

                                <li class="b-post-sm js-post-sm" data-nodeid="4461775">
                                    <div class="d-flex flex-row">
                                        <div class="b-post-sm__avatar avatar h-left">
                                            <a href="member/536599-andrea-benitez">
                                                <img src="assets/img/logo.png"
                                                     width="32"
                                                     height="32"
                                                     alt="Andrea Benitez"
                                                     class="img-responsive img-rounded" />
                                            </a>
                                        </div>

                                        <div class="avatar-sides">
                                            <div class="b-post-sm__title ellipsis">
                                                <a href="">AdminCP</a>
                                            </div>

                                            <div class="b-post-sm__author">
                                                by
                                                <a href="">Andrea Benitez</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="
														b-post-sm__content b-post-sm__content--has-avatar
													">
                                        <div class="
															b-post-sm__post-content
															post-content
															ellipsis
															restore
															entry-content
														">
                                            <p>
                                                Hello, I want to enter the Admincp panel and this
                                                appears when I enter the password:<br />
                                                ...
                                            </p>
                                        </div>

                                        <div class="list-item-footer h-clearfix">
                                            <ul class="replylike_count h-left">
                                                <li id="channel-4461775">
                                                    <div class="channel h-left">
                                                        <div class="channel_text">
                                                            Channel:
                                                            <a href="">Support Issues &amp; Questions</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="b-post-sm__date">Yesterday, 10:30am</div>
                                    </div>
                                </li>
                            </ul>

                            <div class="widget-footer h-align-left h-clear">
                                <a href="search?r=35383365" class="b-button">View All</a>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>





<div id="newInformation" class="modal">
    <header class="modal-header">Add New Information</header>

    <main class="modal-main">
        <form id="AddTopicInformation" method="post" enctype="multipart/form-data">
            @*<div id="validation-summary">
                    <p>Please provide values for the highlighted fields.</p>
                    <ul />
                </div>*@
            <div class="form-wrapper">



                <input type="hidden" value="@ViewBag.MainTopicId" id="MainTopicsIdFK" name="MainTopicsIdFK" />


                <div class="row align-items-center">
                    <label class="col-lg-3 form-title"> Title </label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" id="Title" name="Title" required />
                        <span class="validation_error" name="Title"></span>
                    </div>
                </div>

                <div class="row align-items-center">
                    <label class="col-lg-3 form-title"> Description </label>
                    <div class="col-lg-9">
                        @(Html.DevExtreme().HtmlEditor()
                        .ID("html-editor").Name("Description")
                                     .Height(200)
                                 .Toolbar(toolbar => toolbar.Items(
                                  items =>
                                  {
                                      items.Add().Name(HtmlEditorToolbarItem.Undo);

                                      items.Add().Name(HtmlEditorToolbarItem.Redo);

                                      items.Add().Name(HtmlEditorToolbarItem.Separator);

                                      items.Add()
                                          .Name("size")
                                          .AcceptedValues(new[] { "8pt", "10pt", "12pt", "14pt", "18pt", "24pt", "36pt" });

                                      items.Add()
                                          .Name("font")
                                          .AcceptedValues(new[] { "Arial", "Courier New", "Georgia", "Impact", "Lucida Console", "Tahoma", "Times New Roman", "Verdana" });

                                      items.Add().Name(HtmlEditorToolbarItem.Separator);

                                      items.Add().Name(HtmlEditorToolbarItem.Bold);

                                      items.Add().Name(HtmlEditorToolbarItem.Italic);

                                      items.Add().Name(HtmlEditorToolbarItem.Strike);

                                      items.Add().Name(HtmlEditorToolbarItem.Underline);

                                      items.Add().Name(HtmlEditorToolbarItem.Separator);

                                      items.Add().Name(HtmlEditorToolbarItem.AlignLeft);

                                      items.Add().Name(HtmlEditorToolbarItem.AlignCenter);

                                      items.Add().Name(HtmlEditorToolbarItem.AlignRight);

                                      //items.Add().Name(HtmlEditorToolbarItem.AlignJustify);

                                      //items.Add().Name(HtmlEditorToolbarItem.Separator);

                                      //items.Add().Name(HtmlEditorToolbarItem.OrderedList);

                                      //items.Add().Name(HtmlEditorToolbarItem.BulletList);

                                      //items.Add().Name(HtmlEditorToolbarItem.Separator);

                                      //items.Add()
                                      //    .Name("header")
                                      //    .AcceptedValues(new JS("[false, 1, 2, 3, 4, 5]"));

                                      //items.Add().Name(HtmlEditorToolbarItem.Separator);

                                      //items.Add().Name(HtmlEditorToolbarItem.Color);

                                      //items.Add().Name(HtmlEditorToolbarItem.Background);

                                      //items.Add().Name(HtmlEditorToolbarItem.Separator);

                                      //items.Add().Name(HtmlEditorToolbarItem.Link);

                                      //items.Add().Name(HtmlEditorToolbarItem.Image);

                                      //items.Add().Name(HtmlEditorToolbarItem.Separator);

                                      //items.Add().Name(HtmlEditorToolbarItem.Clear);

                                      //items.Add().Name(HtmlEditorToolbarItem.CodeBlock);

                                      //items.Add().Name(HtmlEditorToolbarItem.Blockquote);

                                      //items.Add().Name(HtmlEditorToolbarItem.Separator);

                                      //items.Add().Name(HtmlEditorToolbarItem.InsertTable);

                                      //items.Add().Name(HtmlEditorToolbarItem.DeleteTable);

                                      //items.Add().Name(HtmlEditorToolbarItem.InsertRowAbove);

                                      //items.Add().Name(HtmlEditorToolbarItem.InsertRowBelow);

                                      //items.Add().Name(HtmlEditorToolbarItem.DeleteRow);

                                      //items.Add().Name(HtmlEditorToolbarItem.InsertColumnLeft);

                                      //items.Add().Name(HtmlEditorToolbarItem.InsertColumnRight);

                                      //items.Add().Name(HtmlEditorToolbarItem.DeleteColumn);

                                  }))

                                  .Placeholder("Write your decription...")
                                  //.ElementAttr(new JS("{Name:'Description'}"))

                                  )



                        <span class="validation_error" name="Description"></span>
                    </div>
                </div>

                <div class="row align-items-center">
                    <label class="col-lg-3 form-title">
                        Topic icon
                        <span>
                            Icon changes will not be reflected on the forum until you
                            save this Main Topic
                        </span>
                    </label>
                    <div class="col-lg-9">
                        <input type="file" class="form-control" id="Graphics" name="Graphics" />
                        <span class="validation_error" name="Graphics"></span>
                    </div>
                </div>


                <div class="row align-items-center">
                    <label class="col-lg-3 form-title"></label>
                    <div class="col-lg-9">
                        <button type="submit" onclick="Submit()" class="btn btn-primary" id="btn-submit-topicinformation">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <footer class="modal-footer"></footer>
</div>


<script>
    function serializeData() {
        return $('#TestForm :input[name!=DXCss][name!=DXScript]').serialize();
    }
    function treeList_onInitNewRow(e) {
        e.data.Task_Status = "Not Started";
        e.data.Task_Start_Date = new Date();
        e.data.Task_Due_Date = new Date();
    }
    function edit_delete_control_event(e) {

        $("#newChannel").modal('show');
    }

    function getMainTopicId() {
        return $("#hdMainTopicId").val();
    }

      function Submit() {
        $('body').on('click', '#btn-submit-topicinformation', function (e) {

           e.preventDefault();
            $('#btn-submit-topicinformation').prop('disabled', true);
            var formData = new FormData($(this).parents('form')[0]);

    for (var d of formData.entries()) {
    console.log(d[0]+ ', ' + d[1]);
            }
            $("#AddTopicInformation").valid();
           var baseUrl = '@Url.Content("~/")';
            $.ajax({

                url: baseUrl + 'TopicInformation/AddTopicInformation',
                type: 'POST',
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    return myXhr;
                },
                success: function (data) {
                    window.location.reload();
                    $("#newInformation").modal('hide');
                    /*messageBoxStay(data.status.toLowerCase(), unescape(data.message));*/
                },
                data: formData,
                cache: false,
                contentType: false,
                processData: false
            });
            return false;
        });
    }

</script>
